*{
    margin: 0;
    padding: 0;
}
#navbar {
    background-color: rgb(16, 25, 51);
    height: 112px;
    width: 100%;
    border-top-left-radius: 56px;
    display: flex;
}
.nav-box-1 {
    height: 112px;
    width: 82px;
}
#home-logo-box {
    height: 80px;
    width: 80px;
    display: flex;
    border-top-left-radius: 56px;
}
.logo{
    height: 80px;
    width: 80px;
    margin-right: 30px;
    border-radius: 55px;
    border: 1px solid rgb(16, 25, 51);
}
#home-btn-box {
    height: 100px;
    width: 82px;
    display: flex;
    margin-top: 6px;
}
.Home-btn {
    height: 25px;
    width: 80px;
    color: white;
    margin-left: 1px;
    background-color: rgb(16, 25, 51);
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transition: all 0.3s ease;
}
.Home-btn:hover {
    color: rgb(18, 100, 133);
    background-color: white;
    border-color: rgb(18, 100, 133);
    cursor: pointer;
    transform: scale(1.05);
}
.nav-box-2 {
    height: 112px;
    width: 82px;
    margin-left: 20px;
}
#resume-logo-box {
    height: 80px;
    width: 80px;
    display: flex;
    border-top-left-radius: 56px;
}
.resume-logo{
    height: 80px;
    width: 80px;
    margin-right: 30px;
    border-radius: 5px;
    border: 1px solid rgb(16, 25, 51);
}
#resume-btn-box {
    height: 100px;
    width: 82px;
    display: flex;
    margin-top: 6px;
}
.resume-btn {
    height: 25px;
    width: 80px;
    color: white;
    margin-left: 1px;
    background-color: rgb(16, 25, 51);
    border: none;
    border: 1px solid white;
    transition: all 0.3s ease;
}
.resume-btn:hover {
    color: rgb(18, 100, 133);
    background-color: white;
    border-color: rgb(18, 100, 133);
    cursor: pointer;
    transform: scale(1.05);
}
.nav-box-3 {
    height: 100px;
    width: 600px;
    margin-left: 80px;
    margin-top: 5px;
    display: flex;
}
.style-1 {
    height: 90px;
    width: 550px;
    border: solid 1px black;
    border-radius: 50px;
    background-color: #D4AF37;
    margin-top: 5px;
}
.style-main {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-shadow: 0 0 10px #00bfff;
    margin-left: 45px;
    margin-top: 12px;
}
#section {
    height: 400px;
    width: 100%;
    background-color: rgb(16, 25, 51);
}
.prof-tag {
    height: 200px;
    width: 200px;
    margin-left: 30px;
    border-radius: 50%;
    display: flex;
}
.my-intro-box {
    height: 200px;
    width: 600px;
    margin-left: 20px;
    margin-top: 80px;
    align-items: center;
}
.int-header {
    color: #D4AF37;
}
.my-intro {
    color: white;
}
.abhi-style-pic {
    height: 200px;
    width: 200px;
    border: solid 1px black;
    border: none;
    border-radius: 50%;
    margin-left: 90px;
}
.nam-tag{
    height: 30px;
    width: 280px;
    margin-top: 10px;
    margin-left: 670px;
}
.my-name{
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-shadow: 0 0 10px #00bfff;
}
.logo-box {
    height: 37px;
    width: 300px;
    margin-left: 680px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.insta-logo {
    height: 37px;
    width: 37px;
    border-radius: 30%;
    transition: all 0.3s ease;
}
.insta-logo:hover {
    transform: scale(1.3);
}
.linkedin-logo {
    height: 37px;
    width: 37px;
    border-radius: 13px;
    margin-left: 20px;
    border: 1px solid rgb(60, 100, 219);
    transition: all 0.3s ease;
}
.linkedin-logo:hover {
    transform: scale(1.3);
}
.twitter-logo {
    height: 37px;
    width: 37px;
    border-radius: 13px;
    margin-left: 20px;
    border: 1px solid rgb(60, 100, 219);
    transition: all 0.3s ease;
}
.twitter-logo:hover {
    transform: scale(1.3);
}
#footer-box {
    height: 300px;
    width: 100%;
    background-color: #bd9855;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tittle-box {
    height: 35px;
    width: 100%;
    background-color: #8B9EB7;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.con-tag {
    background-color: #8B9EB7;
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
    color: #5f4a06;
    border: none;
}
.my-con {
    height: 55px;
    width: 100%;
    display: flex;
    background-color: #bd9855;
}
.con-logo {
    height: 30px;
    width: 30px;
    margin: 20px 0px 0px 80px;
    color: white;
}
.con-num {
    height: 30px;
    width: 195px;
    display: flex;
    margin: 20px 0px 0px 20px;
    align-items: center;
    justify-content: center;
    background-color: #bd9855;
    letter-spacing: 1.3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mail-box {
    height: 55px;
    width: 100%;
    display: flex;
    background-color: #bd9855;
}
.mail-logo {
    height: 30px;
    width: 30px;
    margin: 20px 0px 0px 80px;
    color: white;
}
.email {
    height: 30px;
    width: 370px;
    margin: 20px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #bd9855;
}